---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("news")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<StarlightPage frontmatter={{ title: "新着ニュース" }}>

  <ul>
    {
      posts.map((post) => (
        <li>
          <!-- sv-SEロケールはYYYY-MM-DD形式 -->
          {post.data.pubDate.toLocaleDateString("sv-SE")} : {post.data.title}
        </li>
      ))
    }
  </ul>
</StarlightPage>
