---
import SiteTitle from "./SiteTitle.astro";
---

<footer class="border-t border-gray-200 mt-15">
  <div class="flex justify-center items-center py-5 flex-wrap gap-4 sm:flex-col sm:gap-2">
    <SiteTitle />
  </div>

  <!-- コピーライト -->
  <div
    class="flex justify-center items-center flex-wrap gap-4 sm:flex-col sm:gap-2"
  >
    <p class="m-0 text-gray-400">
      © 2013–2026 ニッチェ・ライフ編集委員会
    </p>
  </div>
</footer>
